@media screen and (max-width: 1200px) {
  .apply {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  main .navbar-2 {
    display: none;
  }
  main .navbar-3 {
    display: flex;
    justify-content: center;
  }
  main .navbar-3 .nav-3 {
    width: 85%;
  }
  .mobile-meno {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
  }
  main .navbar-3 .logo {
    margin-top: 0rem;
  }
  main .navbar-3 .nav-3 .menu-icon {
    display: block;
  }
  main .navbar-3 {
    grid-template-columns: 1fr 1fr;
  }
  main .navbar-3 .nav-menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 520px) {
}
